/*общее */
html
{
scroll-behavior:smooth;
}
body
{
margin:0px;
padding:0px;
background:linear-gradient(#FFF8DC 50%,#FFF8DC 50%);
}

/*классы */

.suvinirsText{
    margin-top: 3%;
}
.slider{
   margin-top: 4%;
   margin-left: 13%;
}
.textheader
{
font-size:35px;
position:absolute;
width:90%;
height:35px;
line-height:30px;
color:aliceblue;
}
.r
{
width:30px;
height:3px;
margin-bottom:10px;
background:black;
position:relative;
left:10px;
top:10px;
border-radius:10px;
}
.section-title
{
width:700px;
top:10px;
margin-top:0px;
color:#000000;
position:relative;
left:50%;
font-size:40px;
transform:translateX(-50%);
text-align:center;
}
.input
{
border:none;
color:black;
background:white;
color:black;
outline:none;
margin-top:15%;
font-family:Poppins;
width:200px;
text-align:center;
font-size:15px;
border-radius:50px;
height:30px;
}
.input[type="submit"]
{
width:100px;
border:2px solid white;
position:relative ;
left:50%;
transform:translateX(-50%);
display:block;
border-radius:5px;
}
/*хедер */

#header{
width: 100%;
height: 50px;
background-color: #000000ab;
position: absolute;
}

/*кнопка меню */

#ham
{
position:relative;
left:100%;
transform:translateX(-110%);
width:50px;
height:50px;
z-index:100;
border-radius:50%;
}
#ham:hover
{
background:aliceblue;
}

/*меню */

#menu
{
width:15%;
z-index:100;
border-left:5px solid rgb(248, 8, 8);
border-top:5px solid rgb(255, 6, 6) ;
border-right: 5px solid rgb(255, 8, 8);
border-bottom: 5px solid rgb(248, 8, 8);
transition:width 1s, left 1s;
margin-top: 10%;
left: 100%;
height: 570px;;
top:107px;
position:fixed;
background: rgba(205,205,205,0.1);
backdrop-filter:blur(10px);
text-align:center;
}


#menu>*
{
font-size:20px;
color:#000;
text-align:center;
left: 100%;
height:40px;
line-height:30px;
text-decoration:none;
margin-top:17%;
display:block;
border-radius:40px;
}
#menu>a:hover
{
background:rgba(114, 6, 6, 0.247);
}
/* главная*/
#home
{
width:100%;
height: 1300px;
top:0%;
position:relative;
background-color: #D2B48C;

}


/* о*/

#about
{
width:100%;
height: 600px;
top:0%;
position:relative;
text-align: center;
text-size-adjust: 10;
background-color: #D2B48C;
margin-top: 1%;
}
#aboutText{
font-size:20px;
}
#aboutHead{
font-size:25px;
}

/*продажа*/

#purchase
{
width:100%;
height: 1300px;
top:0%;
position:relative;
margin-top: 1%;
background-color: #D2B48C;
}
#follow
{
font-size:20px;
text-decoration:none;
width:62px;
margin-top:0px;
margin-left:0px;
background:rgb(255,41,43,17);
border-radius:5px;
display:block;
color:white;
padding:10px;
position:relative;
left:5%;
transform:translateX(-49px);
top: 95%;
}

#prajs{
position: absolute;
top: 10%;
left: 15%;
width: 1000px;
height: 1150px;
border-radius: 0%;
}

/* коллекция*/

#colect{
width:100%;
height: 800px;
top:0%;
position:relative;
margin-top: 1%;
background-color: #D2B48C;
text-align: center;
}
#collectionCss
{
font-size:20px;
text-decoration:none;
width:100px;
margin-top:0px;
margin-left:0px;
background:red;
border-radius:5px;
display:block;
color:white;
padding:10px;
position:relative;
left:3%;
transform:translateX(-49px);
top: 83%;
}
#textcol{
font-size: 25px;
text-align: left;
margin-left: 0%;
}

/* контакты*/

#ninja-contact
{
width:100%;
height: 800px;
top:0%;
position:relative;
background-color: #D2B48C;
margin-top: 1%;
}
#OTZIVI{
position: absolute;
top: 75%;
left: 2%;
font-size:20px;
border-radius: 0%;
opacity: 0.7;
text-align: left;
}
#Сonnection{
position: absolute;
top: 0%;
left:46%;
text-align: center;
border-radius: 0%;
}
#Сreators{
position: absolute;
top: 90%;
left: 90%;
font-size:20px;
border-radius: 0%;
opacity: 0.5;
}
#SendCss{
border-color:darkviolet;
position: absolute;
top: 25%;
left:44%;
text-align: center;
border-radius: 15%;
height: 100px;
width: 10%;
}
#Message{
border-color: blueviolet;
position: absolute;
top: 20%;
left:50%;
width: 250px;
height: 35px;
text-align: center;
border-radius: 25%;
height: 100px;
width: 10%;
}
#Mail{
border-color: blueviolet;
position: absolute;
top: 20%;
left:34%;
width: 250px;
height: 35px;
text-align: center;
border-radius: 25%;
height: 100px;
width: 10%;
}
/*сувенирная лавка*/
#suvinirs1{
width:100%;
height: 800px;
top:0%;
position:relative;
background-color: #D2B48C;
margin-top: 1%;
}
