@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display+SC:ital@0;1&display=swap');
*
{
scroll-behavior:smooth;
color: aliceblue;
}
body
{
margin:0px;
padding:0px;
background-color: #F5F5F5;
font-family: 'Marcellus', serif;
}
#header{
background-color: rgb(14, 117, 100);
position: relative;
height: 100px;
width:100% ;
top:0%;
font-family: 'Marcellus', serif;
}



img
{
width: 100px;
border-radius: 50%;
display:inherit;
position:relative ;
background:rgb(42,41,43);
}
.small-img
{
width:200px;
height:150px;
margin-left: 10%;
border-radius: 10%;
transform:translateX(-50%);
margin-top: -6%;
}

#cum
{
position:fixed;
margin-left: 97%;
transform:translateX(-110%);
width:50px;
height:50px;
z-index:100;
margin-top: -11%;
border-radius:50%;
}
#cum:hover
{
background:#2F4F4F;
}
#menu
{
width:15%;
z-index:100;
border-left:2px solid #2F4F4F;
border-top:2px solid #2F4F4F ;
border-right: 2px solid #2F4F4F;
border-bottom: 2px solid #2F4F4F;
transition:width 1s, left 1s;
margin-top: 10.5%;
left: 100%;
height: 485px;;
top:35px;
position:fixed;
backdrop-filter:blur(3px);
text-align:center;
border-radius: 5%;
}
#header{
width: 100%;
height: 200px;
background-color: #696969;
}
.textheader
{
font-size:35px;
position:inherit;
display:block;
left:10px;
top:15px;
width:90%;
height:35px;
line-height:30px;
color:aliceblue;
}
.textheader1
{
font-size:35px;
position:inherit;
display:block;
left:13%;
top:20px;
width:90%;
height:35px;
line-height:30px;
color:aliceblue;
}
.textheader2
{
font-size:35px;
position:inherit;
display:block;
left:11%;
top:30px;
width:90%;
height:35px;
line-height:30px;
color:aliceblue;
}
.tapni{
    margin-top: -6%;
    margin-left: 36%;
    color: aliceblue;
}
@media (min-width: 1600px) and (max-width: 900px)  {
.imghed {
    margin-top: -1%;
    height: 200px;
    width: 100px;
    background-color: #8B4513;
    margin-left: 0.8%;
    border-radius: 50%;
    position: relative;
}
}
@media (min-width: 1920px) and (max-width: 1080px){
    .imghed{
        margin-top: -0%;
        height: 100px;
        width: 100px;
        background-color: #8B4513;
        margin-left: 0.8%;
        border-radius: 100%;
        position: relative;
    }
    }
.r{
width:30px;
height:3px;
margin-bottom:10px;
background:aliceblue;
position:relative;
left:10px;
top:10px;
border-radius:10px;
}
#menu>*
{
font-size:20px;
color:aliceblue;
text-align:center;
left: 100%;
height:40px;
line-height:30px;
text-decoration:none;
margin-top:17%;
display:block;
border-radius:40px;

}
#menu>a:hover
{
background:#2F4F4F;
}
#scroll
{
height:2.5px;
z-index:102;
background:rgb(255,41,43);
position:fixed;
top:57.5;
left:100px;
}
#home
{
width:100%;
height: 1300px;
top:0%;
position:relative;

background-color: #2E8B57	;
}
#title
{
font-size:30px;
margin:10px;
}
#title>.b
{
text-align:left;
color:rgba(14, 1, 1, 0);
}
.links
{
text-align:center;
margin-top:20px;
}
.links>li
{

width:300px;
position:relative;
margin-left:40px;
height:30px;
display:inline;

}


#about
{
width:100%;
height: 900px;
top:0%;
position:relative;
text-align: center;
text-size-adjust: 10;
background-color: #228B22	;
font-family: 'Playfair Display SC', serif;
}
.section-title
{
width:200px;
top:10px;
margin-top:10px;
border-bottom:3px;
color:aliceblue;
background-image: url(images/bg.jpg);
position:relative;
margin-left:50%;
font-size:50px;
transform:translateX(-50%);
text-align:center;
display:grid;
}
.andl{
    margin-left:60% ;
    margin-top: 1%;
    border-radius: 10%;
    width: 470px;
    height: 260px;
}
.and{
    margin-top: -17.5%;
    height: 250px;
    margin-left: 3%;
    border-radius: 10%;
    width: 450px;
    height: 260px;
}
#purchase
{
width:100%;
height: 1150px;
top:0%;
position:relative;
background-color: #6B8E23; 
font-family: 'Playfair Display SC', serif;
}
#mainone{
    margin-top: -0%;

}


#colect{
    width:100%;
    height: 750px;
    top:0%;
    position:relative;
    background-color: #2E8B57;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}
#textcol{
font-size: 20px;
text-align: left;
margin-left: 2%;
margin-top: 1%;
}
.cole{
margin-top: -35%;
 margin-left: 78%;
 border-radius: 3%;
 width: 300px;
 height: 300px;
}
.cove{
    border-radius: 3%;
    width: 300px;
    height: 300px;
    left: 78%;
    top:4%;
}
#contact
{
color:rgb(27, 3, 3);
}
#contact>*
{
position:relative;
left:50%;
transform:translateX(-50%);
}
textarea
{
outline:none;
border:2px solid
white;
margin-top:15%;
background:transparent;
color:#000;
}
input
{
border:none;
color:black;
background:white;
color:black;
outline:none;
margin-top:15%;
font-family:Poppins;
width:200px;
text-align:center;
font-size:15px;
border-radius:50px;
height:30px;
}
input[type="submit"]
{
width:100px;
border:2px solid white;
position:relative ;
left:50%;
transform:translateX(-50%);
display:block;
border-radius:5px;
}
#ninja-contact
{
width:100%;
height: 800px;
top:0%;
position:relative;
background-color: #6B8E23;
}

#slider{
position: absolute;
top: 5%;
left: 47%;
width: 1000px;
height: 200px;
border-radius: 0%;
transform:translateX(-50%);
}
#slider2{
position: absolute;
top: 31%;
left: 47%;
width: 1000px;
height: 250px;
border-radius: 0%;
transform:translateX(-50%);
}
#slider3{
position: absolute;
top: 58%;
left: 47%;
width: 1000px;
height: 250px;
border-radius: 0%;
transform:translateX(-50%);
}
#goska{
    width: 300px;
height: 500px;
background-image: url(ner.webp);
margin-left: -20%;
}
#OTZIVI{
position: absolute;
top: 75%;
left: 2%;
font-size:20px;
border-radius: 0%;
opacity: 0.7;
text-align: left;

}
#Cvaz{
position:absolute;
top: 0%;
left:42%;
text-align: center;
border-radius: 0%;
color: aliceblue;
}
#textinf{
    text-align: center;
    font-size: medium;
}
#Link1{
position: absolute;
top: 80%;
left:47%;
text-align: center;
border-radius: 0%;
}
#Сreators{
position: absolute;
top: 90%;
left: 90%;
font-size:20px;
border-radius: 0%;
opacity: 0.5;
}
#SendCss{
border-color:darkviolet;
position: absolute;
top: 5%;
left:47%;
text-align: center;
border-radius: 15%;
height: 100px;
width: 10%;
}
#Message{
border-color: blueviolet;
position: absolute;
top: -20%;
left:50%;
width: 250px;
height: 35px;
text-align: center;
border-radius: 25%;
height: 100px;
width: 10%;
}
#Mail{
border-color: blueviolet;
position: absolute;
top: -20%;
left:34%;
width: 250px;
height: 35px;
text-align: center;
border-radius: 25%;
height: 100px;
width: 10%;
}
#buy{
float: right;
position: initial;
top: 0%;
left: 60%;
}
#aboutText{
font-size:20px;
}
#aboutHead{
font-size:25px;
}
#suvinirs{
left:45%;
margin-top:1%;
}
.podsk{
    font-size: 25px;
    margin-left: 2%;
}
#collectionCss
{
font-size:20px;
text-decoration:none;
width:100px;
margin-top:0px;
margin-left:0px;
background:red;
border-radius:5px;
display:block;
color:white;
padding:10px;
position:relative;
left:3%;
transform:translateX(-49px);
top: 80%;
}
.prajs{
position: absolute;
top: 13%;
left: 15%;
width: 640px;
height: 700px;
border-radius: 0%;
margin-left: 10%;
transform:translateX(-50%);
cursor: pointer;
}
.prajs:hover{
    width: 900px;   /* похоже проблема тут*/
    height: 900px;
    margin-left: 12%;
}
#collectionCssText{
font-size:23px;
left:37%;
position: absolute;
top: 0%;
}
#collectionCssText2{
font-size:20px;
}
#suvinirsText{
position: absolute;
top: 13%;
left: 60%;
}
#suvinirsText2{
position: absolute;
top: 18%;
left: 60%;
}
#suvinirsText3{
position: absolute;
top: 22%;
left: 60%;
}
#suvinirsText4{
position: absolute;
top: 29%;
left: 60%;
}
#suvinirsText5{
position: absolute;
top: 38%;
left: 60%;
}
#suvinirsText6{
position: absolute;
top: 43%;
left: 60%;
}
#suvinirsText7{
    position: absolute;
    top: 53%;
    left: 60%;
    }
    #suvinirsText8{
        position: absolute;
        top: 65%;
        left: 60%;
        }
        #suvinirsText9{
            position: absolute;
            top: 79%;
            left: 60%;
            }
#Colect2
{
font-size:20px;
text-decoration:none;
width:62px;
margin-top:0px;
margin-left:0px;
background:red;
border-radius:5px;
display:block;
color:white;
padding:10px;
position:relative;
left:5%;
transform:translateX(-49px);
top: 90%;
left:3%;
transform:translateX(-49px);
top: 80%;
}
#collectionCssText{
    font-size:23px;
    left:37%;
    position: absolute;
    top: 0%;
}
#collectionCssText2{
    font-size:20px;
}
#linkab{
    height: 650px;
    width: 100%;
    background-color: #6B8E23;
}
#foopter{
    height:600px;
    width: 100%;
    background-color: #808000;
    margin-top: 0%;
    font-family: 'Playfair Display SC', serif;
}
.work{
    color:#FFFFE0 ;
    font-size: 20px;
    left: 60%;
  margin-left: 75%;
  margin-top: 1%;

}
.bigfot{
    margin-left: 75%;
    margin-top: 1%;
    color:#FFFFE0 ;
}
.vk{
    color:#FFFFE0;
    margin-top: 2%;
    margin-left: 75%;
}
#nee{
    margin-top: 0%;
    text-align: center;
}
.addrs{
    font-size: 18px;
    margin-left: 36%;
    margin-top: -32%;
    color: aliceblue;
}
.pro{
    font-size: 26px;
    margin-left: 23%;
    margin-top: -27%;
    color: aliceblue;
}
.pros{
    margin-right: 40%;
    margin-top: 0%;
    color: aliceblue;
    font-size: 18px;
}
.kar{
    left: 0.5%;
    width: 400px;
    height: 400px;
    margin-top: -25%;
    border-radius: 10%;
}
.texte{
    margin-top: 20%;
    margin-left: 74.5%;
    color:#FFFFE0;
    font-size: 20px;
}
.cals{
    font-size: 20px;
    margin-left: 39%;
    margin-top: -24%;
    color: aliceblue;
}
.bom{
    font-size: 26px;
    margin-left: 17%;
    margin-top: -20%;
    color: aliceblue;
    display: flex;
}
.DD{
    font-size: 25px;
    margin-left: 16%;
    margin-top: 2%;
}
#oo{
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 0%;
    position: absolute;
    height: 500px;
    width: 400px;
}
#oo:hover {
    width: 540px;
    height: 550px;
}
.navigation1{
    margin-top: 6%;
    margin-left: 36%;
    position: absolute;
    font-size: 20px;
}
.navigation2{
    margin-top: 6%;
    margin-left: 43%;
    position: absolute;
    font-size: 20px;
}
.navigation3{
    margin-top: 6%;
    margin-left: 55%;
    position: absolute;
    font-size: 20px;
}
.navigation4{
    margin-top: 6%;
    margin-left: 63%;
    position: absolute;
    font-size: 20px;
}
.navigation5{
    margin-top: 6%;
    margin-left: 70%;
    position: absolute;
    font-size: 20px;
}
.navig{
    margin-left: 35.9%;
    margin-top: -7%;

}